<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>You Shall Not Pass</title>
</head>

<body>
    <div class="buttons">
        <button id="button1">전체 온도</button>
        <button id="button2">이상 온도</button>
    </div>
    <div class="info">
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>날짜</th>
                    <th>시간</th>
                    <th>온도(℃)</th>
                </tr>
            </thead>
            <tbody>
                <td>test</td>
                <td>1972/11/21</td>
                <td>11:21:04</td>
                <td>44.4</td>
            </tbody>
        </table>
    </div>
</body>

</html>